h1, h2 {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
color: #0D2C40;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	color: #FFFFFF;
}

h2 {
	font-weight: 600;
	font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
}

body {
text-align: center;
margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px;
	text-transform: uppercase;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px;
	text-transform: uppercase;
	font-size: 18px
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Raleway";
}

a {
	margin: 0 20px 0;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0;
}

footer {
	text-transform: uppercase;
	padding: 0 20px 0;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: "Raleway";
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;

}
